# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Environment
.env
!.env.example

# Docker volumes
pgdata/
redisdata/

# opencode local config
.opencode/

# Build
frontend/dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Certificates
nginx/ssl/
certbot_www/
certbot_conf/
traccar/ecuador.pmtiles
# Scripts
